body {
  background: #d13242;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  font-family: Baskerville, serif;
  font-size: 18px;
  line-height: 1.6;
  color: white;
}

h1, h2, h3 {
  font-family: serif;
}

h1 {
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: red;
}
#button {
  animation: rainbow 10s linear infinite;
}

img {
  max-width: 100%;
}

.caption {
  margin-top: 0;
  text-align: right;
}

 .container {
            display: flex;
            max-width: 960px;
            margin: 20px auto;
            background-color: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: 20px;
}
.column {
            flex: 1;
            padding: 20px;
            box-sizing: border-box;
        }
.column + .column {
            border-left: 1px solid #ddd;
        }
