body {
  background: #8c032a;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  font-family: Baskerville, serif;
  font-size: 18px;
  line-height: 1.6;
  color: white;
}

h1, h2, h3 {
  font-family: serif;
}

h1 {
  text-align: center;
}

a {
  color: #c4f2e4;
}

a:hover {
  color: red;
}

img {
  max-width: 100%;
}

.caption {
  margin-top: 0;
  text-align: right;
}
